:root {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

.title {
  font-family: Creepster;
  font-size: 3em;
  letter-spacing: 0.4rem;
  color: #4a4a4a;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  border-bottom: solid gray 2px;
}
section {
  display: flex;
  justify-content: center;
}
.input {
  border: none;
  background-color: white;
  color: white;
  width: 1px;
  outline: none;
  position: fixed;
  font-size: 100%;
}

.grid {
  margin: 0;
  margin-bottom: 10px;
}

.square {
  background-color: white;
  border: solid darkgray 3px;
  color: #4a4a4a;
  text-transform: capitalize;
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vw;
  width: 13vw;
  margin: 3px;
}
.attempted {
  background-color: darkgray;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vw;
  width: 13vw;
  margin: 3px;
}

.wrongPlace {
  background-color: #c7b85a;
  border: solid #c7b85a 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vw;
  width: 13vw;
  margin: 3px;
}

.rightPlace {
  background-color: #62a15f;
  border: solid #62a15f 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vw;
  width: 13vw;
  margin: 3px;
}

@media only screen and (min-width: 440px) {
  .square {
    height: 50px;
    width: 50px;
  }
  .attempted {
    height: 50px;
    width: 50px;
  }
  .rightPlace {
    height: 50px;
    width: 50px;
  }
  .wrongPlace {
    height: 50px;
    width: 50px;
  }
}

.row {
  display: flex;
  margin: 1px;
}

footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4vh;
}

.keyRow {
  display: flex;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadce0;
  color: #4a4a4a;
  border-radius: 4px;
  height: 6vh;
  width: 8vw;
  margin: 2px;
  font-size: large;
  font-weight: bold;
}

.key-attempted {
  background-color: darkgrey;
  color: white;
}

.key-wrongPlace {
  background-color: #c7b85a;
  border: solid #c7b85a 2px;
  color: white;
}

.key-rightPlace {
  background-color: #62a15f;
  border: solid #62a15f 2px;
  color: white;
}

.specialKey {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadce0;
  color: #4a4a4a;
  border-radius: 4px;
  height: 6vh;
  width: 15vw;
  margin: 2px;

  font-weight: bold;
}

@media only screen and (max-width: 300px) {
  .specialKey {
    font-size: x-small;
  }
}

@media only screen and (min-width: 440px) {
  .key {
    height: 6vh;
    width: 6vh;
  }
  .key-attempted {
    height: 6vh;
    width: 6vh;
  }
  .key-rightPlace {
    height: 6vh;
    width: 6vh;
  }
  .key-wrongPlace {
    height: 6vh;
    width: 6vh;
  }
  .specialKey {
    height: 6vh;
    width: 9vw;
    font-size: x-small;
  }
}

@media only screen and (min-width: 670px) {
  .specialKey {
    font-size: medium;
  }
}
.popup {
  align-self: center;
  position: fixed;
  top: 6%;
  bottom: 40%;
  right: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  background-color: white;
  outline: white none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: white none;
}

.popup-inner {
  border: white none;
  outline: white none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 12vh;
}

@media only screen and (max-width: 430px) {
  .popup-inner {
    padding: 1vh;
  }
}

.popup-button {
  padding: 8px;
  margin-top: 12px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: 1px;
  font-size: large;
  font-weight: bold;
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 19.5/9) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}

@media screen and (device-aspect-ratio: 10/7) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="url"] {
    font-size: 16px;
  }
}
